@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<html>
<body>
<h1><u>Who we are</u></h1>
<p>Spartans events deliver global meeting and event management services.Operating out of mayfair in KwazuluNatal,we offer a full range of event management services for a wild range of corperate client.We provide honest and creative advice whilst appreciating timescales and budgets and delivering all this to the highest level from start to finish.We create event that exceed expectations,adding value to our client's bussineses.</p>
<h1><u>What we do</u></h1>
<p>Our services include wedding,party,meeting and conferences management and trade fairs & exhibition.whether it be meeting,gala dinner or incentive, Spartans House of Event can take the stress out of your events and save you time,money and energy.By having our core services in-house we benefits from clear lines of communication internally which ensure a smooth and seammless experience for our client. </p>


<section class="team-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Our Team</h3>
                <p>We have have good and dedicated staff.</p>
                <br />
            </div>
        </div>
        <div class="row">

            
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Manqoba.jpg" width="200" height="400" alt="">
                    </div>

                    <h4>M jwara</h4>



                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Sfiso.jpg" width="200" height="400" alt="" />
                    </div>

                    <h4>ST Masuku</h4>



                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Lwa.jpg" width="200" height="400" alt="">
                    </div>

                    <h4>N Kubheka</h4>



                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/T.jpg" alt="" style="width:200px" ; height="400px">
                    </div>

                    <h4>NS Mdlalose</h4>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Gokhu.jpg" alt="" style="width:200px" ; height="400px">
                    </div>

                    <h4>M Magwaza</h4>


                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Nka.jpg" alt="" style="width:200px" ; height="400px">
                    </div>

                    <h4>NM Gwane</h4>



                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Lu.jpg" alt="" style="width:200px" ; height="400px">
                    </div>

                    <h4>LA Mabanga</h4>



                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="team-member pDark">

                    <div class="member-img">

                        <img class="img-responsive" src="~/fonts/images/Londi.jpg" alt="" style="width:200px" ; height="400px">
                    </div>

                    <h4>LBP Shabalala</h4>



                </div>
            </div>

</section>
    


</body>

</html>