@{
    ViewBag.Title = "Services";
}



<h2>@ViewBag.Title.</h2>
<h3>Sparterns House Of Event Offers </h3>

<div style="align-content:center">
    <p>
        <ul>
            <li>Conception and Event Planning Services.</li>
            <li>Location Scouting.</li>
            <li>Service Bind and Contract Management.</li>
            <li>Day Of Event Coordination.</li>
            <li>Follow-up Activicties</li>

        </ul>
    </p>

</div>


