

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home- Bright Ideas</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/theme/img/favicon.png" rel="icon">
    <link href="~/theme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="~/theme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/theme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/theme/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/theme/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/theme/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/theme/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="page-top">

    <!--/ Nav Star /-->
   
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
   
    <!--/ Intro Skew End /-->


    <!--/ Section Services Star /-->
    <section id="service" class="services-mf route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Services
                        </h3>
                        <p class="subtitle-a">
                            These are the main services on our WebApp
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-monitor"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Booking</h2>
                            <p class="s-description text-center">
                               Have the leisure of booking an event on your device wherever you are with the means of internet connection.
                                <br />  
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-code-working"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Choose Booking</h2>
                            <p class="s-description text-center">
                                The Process is easy the first step is to find the venue that you want. We have several options to choose from.
                                <br />
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-camera"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Confirm Booking</h2>
                            <p class="s-description text-center">
                               After Getting the venue you want the app will allow you to confirm the venue along with all the information and capture all details.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Payment</h2>
                            <p class="s-description text-center">
                               After confirmation we allow you to pay for the venue.
                            </p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-stats-bars"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">FeedBack</h2>
                            <p class="s-description text-center">
                                Provide Feedback so that we can keep you happy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section Services End /-->



    <!--/ Section Portfolio Star /-->
  
    <!--/ Section Portfolio End /-->
    <!--/ Section Testimonials Star /-->
   

    <!--/ Section Blog Star /-->
    
    <!--/ Section Blog End /-->
    <!--/ Section Contact-Footer Star /-->
    
    <!--/ Section Contact-footer End /-->


</body>
</html>
