@{
    ViewBag.Title = "ItemStats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src="@Url.Action("ProfitChart")" alt="Chart" />
</div>
<div>
    <img src="@Url.Action("SalePriceChart")" alt="Chart" />
</div>


