@model BookingEvents.Model.RolesView

@{
    ViewBag.Title = "Remove From Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title text-center">Remove From Role</h2>

<div>
    @ViewBag.Result
</div>

