<div class="jumbotron text-center">
    <h1 class="display-3">Sorry, your Payment Was Unsuccessful!</h1>
    <p class="lead"><strong>Please try again!</strong></p>
    <hr>
    <p>
        Having trouble? <a href="https://bookingevents2.azurewebsites.net/Home/About">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://bookingevents2.azurewebsites.net/Foodorders/ListsOrders" role="button">Go back to your bookings</a>
    </p>
</div>

