<div class="jumbotron text-center">
    <h1 class="display-3">Your Payment Was Successful!</h1>
    <p class="lead"><strong>Please check your orders</strong> to see the recent order you've made.</p>
    <hr>
    <p>
        Having trouble? <a href="https://bookingevents2.azurewebsites.net/Home/About">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://bookingevents2.azurewebsites.net" role="button">Continue to homepage</a>
    </p>
</div>
